{% extends 'accounts/base1.html' %}
{% block content %}
<!-- <p><h4>You have registered successfully!! We have sent you an email confirmation link to activate your account.Please confirm your registration and login <a href="/accounts/login/">here</a></h4></p> -->
<p><h4>You have registered successfully!! Please wait for verification by the Woo team for activation of your account then <a href="/accounts/login/">login here</a></h4></p>
<script>setTimeout(function(){window.location.href="/accounts/login/"},10000);</script>
{% endblock %}
