{% extends 'accounts/loginbase.html' %}
{% block content %}

<div class="container">

<div class="featured-post-wrapper" style="margin:100px 0px;">
                            
                            <div class="featured-post-text-wrapper">

		<div class="row" style="margin-top:100px;">
			<div class="col-md-4 col-md-offset-4"></div>
			

			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<center><h3 class="panel-title">Create bookings or inquiries here </h3></center>
					</div>
					<div class="panel-body">
						<form method="post"  action="/bookings/">{% csrf_token %}
							<p class="bs-component">
								{% if form.errors %}
            <h6 style="background-color:Tomato;">{{form.error}}</h6>
            {% endif %}
								{% csrf_token %}
								{{form.as_p}}
								
							</p>

								<center>
									<input class="btn btn-success btn-sm btn-block" type="submit" value="Submit"/>
								</center>
						</form>
					</div>
				</div>		
			</div>

			<div class="col-md-4 col-md-offset-4"></div>

		</div>


</div>
                        </div>

{% endblock %}