{% load static %}
<script src="{% static 'vendor/jquery/jquery-2.0.0.min.js' %}"></script>
  <script src="{% static '/ajax.js' %}"></script>
  <style>
  .cont{
    background-color: #ffffff;
  }
  </style>
<div class="home-banner" style="background-image:url({% static '/img/e-commerce-banner.jpg' %}); min-height:400px; padding-top:50px;">
    <h1 class="heading-1">Woo-Commerce</h1>
</div>
    <div class="container" style='background-color: #ffffff;'>
        <!-- <div class="row"> -->
 
                <div class="col-md-8">
                  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

                        <h3 class="blue-heading cont" style='background-color: #ffffff;'>{{request.GET.cat}} Services</h3>
                    </div>
            
        <!-- </div> -->
        
    </div>


<div class="grid-sec">
    <div class="container grid-sec-inner" >
        <div class="row"> 
               {% for display in displays %}
          <div class="col-md-4"  style="margin-bottom:15px!important;" >
                    <div class="featured-post-wrapper">
                      <div class="img-wrapper" style="max-height: 150px; overflow:hidden;">
                            <img src="{{ display.attachment.url }}" width="100%" alt="">
                          </div>
                            <div class="featured-post-text-wrapper" >
                               <p> <h4 class="blue-heading">{{display.Title}}</h4><h6 class="grey-heading">{{ display.created_at }}</h6></p>
                                
                                <strong><p><h5><b>Company Name:</b></h5></p></strong><strong>  <h6>{{ display.company_name}}</h6></strong>
                                <strong><p><h5><b>Service Type:</b></h5></p></strong><strong>  <h6>{{ display.category}}</h6></strong>

                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Read More

  <span class="caret"></span></button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <p class="dropdown-item"><strong><h5>Description:</h5></p></strong><p>{{display.description}}</p>
                              <p class="dropdown-item"><strong><h5>Location</h5></p></strong><p>{{display.location}}</p>
                              <p class="dropdown-item"><strong><h5>Contacts</h5></p></strong><p>{{display.cellphone}}</p><p>{{display.email}}</p>
                                <p class="dropdown-item"><strong><h5>Payment details</h5></p></strong><p>{{display.payment_info}}</p>
                                <p><a href="/bookings/">Make an inquiry or Book an appointment</a></p>
                                

</div>
                            </div>
                        </div>
            </div>
            {% endfor %}
   
            </div>
    </div>
</div>
 

