@extends('layouts.app')
@section('content')
<div class="container show-container">
        
    <div class=" blog-sec-categories" style="">
            <ul style=" list-style:none!important; padding-left:0px!important; height:auto; margin-bottom:15px;">
                    <li class="cat-list" style="float:left; "><a class="btn-custom" href="#">Case study</a></li>
                    <li class="cat-list" style="float:left; "><a class="btn-custom" href="#">Web Development</a></li>
                    
                </ul>
    </div>
    <h2 style="margin-bottom:20px;"> How does google cloud keep my information secure and prevent unauthorized access to my data</h2>
    <div class="blog-img">

            <img src="../img/security.png" width="100%" alt="">
    </div>
    <div class="blog-content">
            <div class="row" style="margin-bottom:20px!important;">
                    <div class="col-md-2">
                            <div class="profile-pic">
                                    <img src="../img/defaultimg.jpg" alt="" width="100%">
                            </div>
                    </div>
                    <div class="col-md-5">
                            <div class="meta-section">
                                <h6 class="grey-heading">P. M. NG'ANG'A</h6>
                                <h5 class="">Job Title</h5>
                                <h6 class="grey-heading">MAY 28 2018</h6>
                        </div>


                    </div>
                    <div class="col-md-5">
                                <ul style="display:inline-block; list-style:none!important; padding-left:0px!important; float:left;">
                                                <li class="footer-social" style="float:left; margin-bottom:15px;"><a class="" href="#"><img class="shadow2" src="../img/google-plus.png" alt="" style="float:left;"></a></li>
                                                <li class="footer-social" style="float:left; margin-bottom:15px;"><a class="" href="#"><img class="shadow2" src="../img/linkedin.png" alt="" style="float:left;"></a></li>
                                                <li class="footer-social" style="float:left; margin-bottom:15px;"><a class="" href="#"><img class="shadow2" src="../img/twitter.png" alt="" style="float:left;"></a></li>
                                                <li class="footer-social" style="float:left; margin-bottom:15px;"><a class="" href="#"><img class="shadow2" src="../img/facebook.png" alt="" style="float:left;"></a></li>
                                                <li class="footer-social" style="float:left; margin-bottom:15px;"><a class="" href="#"><img class="shadow2" src="../img/instagram.png" alt="" style="float:left;"></a></li>
                                            </ul>
    
    
                        </div>
            </div>
            <p> G Suite has been built from the ground up to mitigate the unique threats for cloud systems. Google’s standards for performance and reliability apply to businesses, schools and government institutions around the world.
                        The technology, scale, and agility of our infrastructure bring unique security benefits to our customers. Our vast network of data centers are built with custom-designed servers, that run our own operating system for security and performance. Because Google controls its entire hardware stack, we are able to quickly respond to threats that may emerge.
                        Google employs dedicated security professionals to work on protecting your data, including some of the world’s foremost experts in computer security. Just like all teams at Google, this team is constantly innovating and making the future more secure, not just for Google’s billion users, but for business organizations as well.
                        Google has an outstanding track record of protecting user data. We protect this data from outside intrusions as well as insider threats. In addition, we tightly restrict and monitor any internal access to user data. The small set of employees with access is subject to rigorous authentication measures, detailed logging, and activity scanning to detect inappropriate access via log analysis.
                        It is this unique combination of people, technology and agility that ensure your data is secure at Google. For more information, check out the G Suite Security Whitepaper.  
                </p>
                <h3>DOES G SUITE MEET MY COMPLIANCE REQUIREMENTS?</h3>
                <p> Google designed G Suite with very stringent privacy and security standards based on industry best practices. This helps our customers address their compliance and regulatory requirements. Google offers strong contractual commitments regarding data ownership, data use, security, transparency, and accountability.
                                Google undergoes several independent third-party audits on a regular basis. These independent auditors examine the controls present in our data centers, infrastructure, and operations. Examples of these audits and standards include: SOC1™, (SSAE-16/ISAE-3402), SOC2™, SOC3™, ISO27001, ISO 27018:2014 and FedRAMP.
                                Learn more about our certifications at Security and Trust.
                                Many G Suite services are also compliant with HIPAA (U.S. Health Insurance Portability and Accountability Act).
                                G Suite for Education can be used in compliance with laws and regulations important to schools.
                        </p>
                        <h3>IS G SUITE HIPAA COMPLIANT? </h3>
                        <p> G Suite supports customers’ compliance with the U.S. Health Insurance Portability and Accountability Act (HIPAA), which governs the safeguarding, use, and disclosure of protected health information (PHI). Customers who are subject to HIPAA and wish to use G Suite for PHI processing or storage can sign a business associate amendment with Google. View more details about HIPAA compliance with G Suite.

                        </p>
                        <h3>HOW DOES GOOGLE RESPOND TO GOVERNMENT REQUESTS FOR DATA?</h3>
                        <p> Respect for the privacy and security of data you store with Google underpins our approach to producing data in response to legal requests. When we receive such a request, our team reviews the request to make sure it satisfies legal requirements and Google's policies. Generally speaking, for Google to produce any data, the request must be made in writing, signed by an authorized official of the requesting agency and issued under an appropriate law. If we believe a request is overly broad, we'll seek to narrow it. For more information, visit Google’s Transparency Report.

                        </p>
                        <h3>DOES GOOGLE ENCRYPT MY DATA?</h3>
                        <p> Core customer data that is uploaded or created in G Suite services is encrypted at rest, as described in this help center article.
                                        This encryption happens as it is written to disk, without the customer having to take any action. Google encrypts data with distinct encryption keys, even if they belong to the same customer. Data is encrypted using 128-bit or stronger Advanced Encryption Standard (AES).
                                        Google encrypts core G Suite data while it is “in transit” as well, whether it is traveling over the Internet between the customer and Google, or moving within Google as it shifts from one data center to another. We encrypt this data between Google and our customers using HTTPS with forward secrecy.
                                </p>
                                <h3> DO I NEED TO USE THIRD-PARTY TOOLS TO KEEP MY DATA SECURE WITH GOOGLE? </h3>
                                <p> Google offers the security features required for most customers directly in G Suite. G Suite’s Business and Enterprise editions offer some additional security features, such as advanced Google Drive auditing and security keys management at scale. In all plans, G Suite administrators have control over system configuration and applications from within a single dashboard via our Admin console —regardless of the size of the organization.
                                                Administrators can access advanced tools immediately, including authentication features like 2-Step verification and single sign-on, or email security policies like secure transport (TLS) enforcement, IRM, and DLP which can be configured in a few clicks.
                                                For customers with security needs beyond what is included in G Suite, we created a partner marketplace that extends our capabilities. 
                                        </p>
                                        <h3>MY ORGANIZATION IS SUBJECT TO EU DATA PROTECTION REQUIREMENTS. CAN I USE G SUITE?</h3>
                                        <p> Yes. Google has a broad customer base in Europe. Google provides capabilities and contractual commitments for our customers designed specifically to help address EU data protection requirements and the guidance provided by the Article 29 Working Party. G Suite offers EU Model Contract Clauses and a Data Processing Amendment. Additionally, G Suite has been assessed as appropriate for use with the UK government's Cloud Security Principles "OFFICIAL (including OFFICIAL- SENSITIVE)."
                                                
                                        </p>
    </div>
</div>
<div class="grid-sec">
                <div class="container grid-sec-inner">
                    <div class="row">
                        <div class="col-md-4">
                                <div class="featured-post-wrapper">
                                        <img src="../img/about-hero.jpg" width="100%" alt="">
                                        <div class="featured-post-text-wrapper">
                                            <h6 class="grey-heading">MAY 22 2018</h6>
                                            <h5><a href="#"> The top 3 Business Priorities in the Relationship era</a></h5>
                                            <p>Bacon ipsum dolor amet fatback pancetta kielbasa pig prosciutto brisket.</p>
                                            <a class="btn-custom" href="#">G Suite</a>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-4">
                                <div class="featured-post-wrapper">
                                        <img src="../img/about-hero.jpg" width="100%" alt="">
                                        <div class="featured-post-text-wrapper">
                                            <h6 class="grey-heading">MAY 22 2018</h6>
                                            <h5><a href="#"> The top 3 Business Priorities in the Relationship era</a></h5>
                                            <p>Bacon ipsum dolor amet fatback pancetta kielbasa pig prosciutto brisket.</p>
                                            <a class="btn-custom" href="#">Case study</a>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-4">
                                <div class="featured-post-wrapper">
                                        <img src="../img/about-hero.jpg" width="100%" alt="">
                                        <div class="featured-post-text-wrapper">
                                            <h6 class="grey-heading">MAY 22 2018</h6>
                                            <h5><a href="#"> The top 3 Business Priorities in the Relationship era</a></h5>
                                            <p>Bacon ipsum dolor amet fatback pancetta kielbasa pig prosciutto brisket.</p>
                                            <a class="btn-custom" href="#">Relationship era</a>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>

@endsection