{% load static %}
<script src="{% static 'vendor/jquery/jquery-2.0.0.min.js' %}"></script>
  <script src="{% static '/ajax.js' %}"></script>
<div class="home-banner" style="background-image:url({% static '/img/e-commerce-banner.jpg' %}); min-height:400px; padding-top:50px;">
    <h1 class="heading-1">Woo-Commerce</h1>
</div>
<div class="featured-sec">
    <div class="container featured-sec-inner">
        <div class="row">
 
                <div class="col-md-8">
                  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

                        <h3 class="grey-heading">Latest Arrival</h3>
                        <div class="featured-post-wrapper">
                          <div style="max-height: 300px;overflow:hidden;">
                            <img src="{{ banner.attachment.url }}" width="100%" alt="">
                          </div>
                            <div class="featured-post-text-wrapper">
                              <h6 class="grey-heading">posted on {{ banner.created_at }}</h6>
                              <p> <strong><h5>Service Name:</h4></strong><h5 class="black-heading">{{ banner.Title }}</h5></p> 
                              <p> <strong><h5>Company Name:</h4></strong> <h5>{{banner.company_name}}</h5></p>
                              <p><strong><h5>Service Type:</h4></p></strong>   <p> {{banner.category}}</p>
                                <p><strong><h5>Description:</h4></p></strong>   <p> {{banner.description}}</p>
                                <p><strong><h5>Payment details:</h4></p></strong>   <p>{{banner.payment_info}}</p>
                                  <p><a href="/bookings/">Make an inquiry or Book an appointment</a></p>

                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">More information

  <span class="caret"></span></button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                               <strong>Location:</strong> <p>{{banner.location}}</p>
                       <strong>Contacts:</strong><p>{{banner.email}}</p><p>0{{banner.cellphone}}</p>
                               

</div>


                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-4">
                            <h3 class="grey-heading">Search</h3>
                            <form style="margin-bottom:15px;">
                                    <div class="input-group" style="border-right:1px solid #ced4da;">
                                      <input type="text" id="search" name="search" class="make-square-left form-control" style="border-right:0px!important;" placeholder="Search">{% csrf_token %}
                                      <div class="input-group-btn">
                                        <button class="wht make-square-right btn btn-default" style="border-top:1px solid #ced4da; border-bottom:1px solid #ced4da; border-right:1px solid #ced4da;" type="submit">
                                          <i class="fa fa-search" style="color:#999999;"></i>
                                        </button>
                                      </div>
                                    </div>
                                    <ul id="search-results">
              
                                    </ul>
                                  </form> 
                                  <h3 class="grey-heading">Tags</h3>
                                  <div class="featured-post-wrapper" style="padding:20px;">
                                        <ul style="display:inline-block; list-style:none!important; padding-left:0px!important; margin-top:0px!important;">
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Advertising">Advertising</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Automotive">Automotive</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Beauty">Beauty</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Car%20Rentals">Car Rentals</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Catering">Catering</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Cleaning">Cleaning</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Computer%20%26%20IT">Computer & IT</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Event%20Planning">Event Planning</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Interior%20Design">Interior Design</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Logistics">Logistics</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Massage%20Therapy">Massage Therapy</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Pet">Pet</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Photography%20%26%20Video">Photography & Video</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Real%20Estate">Real Estate</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Renovation">Renovation</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Repair">Repair</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Travel%20Agencies">Travel Agencies</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Web%20Design">Web Design</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Wedding">Wedding</a></li>
                                            <li class="cat-list" style="float:left; margin-bottom:15px;"><a class="cat-links" href="/catt/?cat=Others">Others</a></li>
                                        </ul>
                                  </div>
                    </div>
            
        </div>
        
    </div>
</div>


<div class="grid-sec">
    <div class="container grid-sec-inner" >
        <div class="row"> 
               {% for display in displays %}
          <div class="col-md-4"  style="margin-bottom:15px!important;" >
                    <div class="featured-post-wrapper">
                      <div class="img-wrapper" style="max-height: 150px; overflow:hidden;">
                            <img src="{{ display.attachment.url }}" width="100%" alt="">
                          </div>
                            <div class="featured-post-text-wrapper" >
                               <p> <h4 class="blue-heading">{{display.Title}}</h4><h6 class="grey-heading">{{ display.created_at }}</h6></p>
                                
                                <strong><p><h5><b>Company Name:</b></h5></p></strong><strong>  <h6>{{ display.company_name}}</h6></strong>
                                <strong><p><h5><b>Service Type:</b></h5></p></strong><strong>  <h6>{{ display.category}}</h6></strong>

                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Read More

  <span class="caret"></span></button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <p class="dropdown-item"><strong><h5>Description:</h5></p></strong><p>{{display.description}}</p>
                              <p class="dropdown-item"><strong><h5>Location</h5></p></strong><p>{{display.location}}</p>
                              <p class="dropdown-item"><strong><h5>Contacts</h5></p></strong><p>{{display.cellphone}}</p><p>{{display.email}}</p>
                                <p class="dropdown-item"><strong><h5>Payment details</h5></p></strong><p>{{display.payment_info}}</p>
                                <p><a href="/bookings/">Make an inquiry or Book an appointment</a></p>
                                

</div>
                            </div>
                        </div>
            </div>
            {% endfor %}
   
            </div>
    </div>
</div>
 

